.graph {
    margin-top:175px;
    display: block;
    float:right;
    
}

.cryptotable {
    
    display:block;
    width: 500px; 
}

.upper {
    display: block;
    float: right;
    margin-right: 30px;
    
    
}
.curr_descr {
    margin: 360px 300px 100px 750px;
    
}
