@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i&display=swap);
body {
    margin: 0;
}

* {
    padding: 0;
    margin: 0
}

.Nav {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: .6em;
    background-color: rgb(251, 247, 247);
}

.logo {
    padding: 15px;
    width: auto;
    height: 120px;
    margin-left: 10px;
}

.navleft {
    order: 1;
    flex: 2 1 auto;
    align-self: flex-start;
    display: none;
}

.navright {
    order: 2;
    flex: 1 1 auto;
    margin-top: 40px;
    margin-left: 350px;
    padding-right: 5px; 
}

.item {
    padding: 0px;
}

.item:hover {
    color: gray;
}

.Nlink {
    text-decoration: none;
    padding: 0
}

.Main {
    padding-top: 1em;
    padding-left: .5em;
    padding-right: .5em;
    display: flex;
    flex-direction: column
}

.mleft {
    order: 2;
    flex: 2 1 auto;
    align-self: flex-start;
}

.mright {
    order: 1;
    flex: 1 1 auto;
    align-self: flex-end
}

.cryptoimgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 170px;
    margin-top: 122px;
}

.img {
    flex: 0 1 auto;
    padding: 3px;
}

.img { transition: all .2s ease-in-out; }
.img:hover { transform: scale(1.1); 
    filter: brightness(99%);
}

.img,
.infoText {
    order: 0;
    align-self: auto;
    font-family: Helvetica;
}

.infoText {
    flex: 0 1 100%
}

.infoText p {
    margin: 0;
    font-size: 1.5em
}

.arrow {
    display: block;
    width: 15px;
    height: 15px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    margin-bottom: 30px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.logos {
    width: 50px
}

.logosE {
    width: 25px
}

.logos:hover,
.logosE:hover {
    cursor: pointer
}

h1 {
    padding-bottom: 10px
}

.textBody p,
h1 {
    font-family: Helvetica, sans-serif
}

.img p {
    font-size: 1.2em;
    text-align: center
}

div.blueTable {
    height: 200%
}
.Dlink {
	background-color:#3c4775;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	font-family:Georgia;
	font-size:1.5em;
	font-weight:bold;
    padding:11px 30px;
    text-decoration:none;
    color:#fff;
}

.Dlink:hover {
    color:#000;
}

.Dlink:active {
	position:relative;
	top:1px;
}

.divTableCell span {
    font-weight: 700
}


div.blueTable {
    border: 1px solid #f7dee4;
    background-color: #eee;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}

.divTable.blueTable .divTableCell,
.divTable.blueTable .divTableHead {
    border: 1px solid #aaa;
    padding: 3px 2px;
}

.divTable.blueTable .divTableBody .divTableCell {
    font-size: 13px
}

.divTable.blueTable .divTableHeading {
    background: #587ab8;
    border-bottom: 2px solid #444;
}

.divTable.blueTable .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border-left: 0.1px solid #d0e4f5;
}

.divTable.blueTable .divTableHeading .divTableHead:first-child {
    border-left: none
}

.blueTable .tableFootStyle {
    font-size: 14px
}

.blueTable .tableFootStyle .links {
    text-align: right
}

.blueTable.outerTableFooter {
    border-top: none
}

.divTable {
    display: table
}

.divTableRow {
    display: table-row
}

.divTableCell,
.divTableHead {
    display: table-cell
}

.divTableHeading {
    display: table-header-group
}

.divTableFoot {
    display: table-footer-group
}

.divTableBody {
    display: table-row-group
}

.TableHeader {
    padding-top: 1.5em;
}

.upper {
    padding: 2em 2em 0em 0em;
    display:block;
    float: right;
    position: relative;
    margin-right: 3em;
}

.moreInfo {
    text-align: center;
    padding-top:1.2em;
}


@media (min-width:600px) {
    .Nav {
        flex-direction: row;
        letter-spacing: .4em;
        font-size: 1em
    }
    .navleft {
        display: block
    }
    .item {
      display: inline;
      font-size: 2em;
      padding: 10px;
      text-decoration: none;
      color: #000
  }
  
  .Nlink {
      padding-right: 1em;
      padding-left: 1em;
  }
    .Main {
        padding-top: 3em;
        padding-left: 12em;
        padding-right: 8em;
        flex-direction: row
    }
    .mleft {
        order: 1;
        flex: 2 1 50%;
        padding: 20px;
        margin-top: 2em;
        margin-right: -30px
    }
    .mright {
        order: 2;
        flex: 1 1 20%;
        padding-left: 100px
    }
    .logos {
        width: 80px
    }
    .logosE {
        width: 45px
    }
    .infoText p {
      text-align: center;
      font-size: 1.7em;
      padding: 0
  }

}
@media (max-width:1450px) {
    .Main {
        margin-left: -8em;
        margin-top: -2em;
    }
}
